{{ ansible_managed | comment }}

# See the unbound.conf(5) man page.
#
# See /usr/share/doc/unbound/examples/unbound.conf for a commented
# reference config file.

{% for include in unbound_conf_list %}
    include: "/etc/unbound/conf.d/{{include}}"
{% endfor %}

